<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.xtrain.permission.mapper.CompanyDepartmentMapper">
    <resultMap id="CompanyMap" type="com.boss.xtrain.permission.pojo.query.CompanyDepartmentNode">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <collection property="childList" ofType="com.boss.xtrain.permission.pojo.query.DepartmentTreeNode"
                    javaType="java.util.ArrayList" select="getDepartments" column="id"></collection>
    </resultMap>
    <resultMap id="DepartmentMap" type="com.boss.xtrain.permission.pojo.query.DepartmentTreeNode">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="t_c_id" jdbcType="BIGINT" property="companyId" />
        <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    </resultMap>

    <select id="query" parameterType="com.boss.xtrain.permission.pojo.query.CompanyDepartmentNode" resultMap="CompanyMap">
        SELECT * FROM t_company
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
        </where>
    </select>
    <select id="getDepartments" parameterType="java.lang.Long" resultMap="DepartmentMap">
        SELECT td.* FROM t_department td,t_company tc WHERE td.t_c_id = tc.id AND tc.id = #{companyId}
        ORDER BY td.level
    </select>
</mapper>