<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.bes.permission.mapper.PositionMapper">
    <sql id="PositionColumns">
        tp.id AS id,
        tp.t_u_id AS userId,
        tp.status AS status,
        tp.created_by AS createdBy,
        tp.created_time AS createdTime,
        tp.updated_time AS updatedTime,
        tp.updated_by AS updatedBy,
        tp.version AS version,
        tp.name AS name,
        tp.code AS code,
        tp.remark AS remark,
        tp.t_c_id AS companyId,
        tc.name AS companyName
    </sql>
    <select id="queryByCondition" parameterType="PositionQueryDTO"
            resultType="com.boss.bes.permission.pojo.entity.Position">
        SELECT
        <include refid="PositionColumns"/>
        FROM
        position tp,t_company tc
        <where>
            (tp.t_c_id = tc.id)
            <if test="companyId != null and companyId != ''">
                AND tp.t_c_id = #{companyId}
            </if>
            <if test="name != null and name != ''">
                AND tp.name LIKE "%"#{name}"%"
            </if>
        </where>
        ORDER BY
        tp.update_time DESC
    </select>

    <delete id="deleteByIds">
        DELETE FROM position
        WHERE id IN
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>


</mapper>