<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.xtrain.basedata.mapper.CombExamConfigMapper">
  <resultMap id="BaseResultMap" type="com.boss.xtrain.basedata.pojo.entity.CombExamConfig">
    <!--@mbg.generated-->
    <!--@Table t_comb_exam_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
   <update id="updateCombConfig" parameterType="com.boss.xtrain.basedata.pojo.entity.CombExamConfig">
        update t_comb_exam_config
        <set >
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="remark != null" >
                remark = #{remark},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="organizationId != null" >
                org_id = #{organizationId},
            </if>
            <if test="createdBy != null" >
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null" >
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null" >
                updated_time = #{updatedTime},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>