<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.xtrain.basedata.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.boss.xtrain.basedata.pojo.entity.Subject">
    <!--@mbg.generated-->
    <!--@Table t_subject-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="t_s_id" jdbcType="BIGINT" property="subjectTypeId" />
    <result column="t_c_id" jdbcType="BIGINT" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="org_id" jdbcType="BIGINT" property="organizationId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="field1" jdbcType="VARCHAR" property="difficulty" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
    <result column="field3" jdbcType="VARCHAR" property="field3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, t_s_id, t_c_id, `name`, image_url, remark, `status`, org_id, company_id, created_by,
    created_time, updated_by, updated_time, version, field1, field2, field3
  </sql>
    <resultMap id="queryResult" type="com.boss.xtrain.basedata.pojo.dto.subject.SubjectDTO">
    <result column="id" property="id"></result>
    <collection property="subjectAnswers" column="id" javaType="ArrayList" ofType="com.boss.xtrain.basedata.pojo.entity.SubjectAnswer" select="selectSubjectAnswer">
    </collection>
  </resultMap>

  <select id="queryByCondition" resultMap="BaseResultMap">
    select a.* from t_subject a,t_category b,t_subject_type c
    where a.category_id = b.id and a.t_s_id = c.id and a.org_id = #{orgId}
    or a.name like CONCAT('%',#{name},'%') or b.name like CONCAT('%',#{categoryName},'%')
    or c.name like CONCAT('%',#{subjectTypeName},'%') order by updated_time desc
  </select>

  <select id="querySubject" resultMap="BaseResultMap">
    select a.* from t_subject a where a.category_id = #{categoryId} and
           a.subject_type_id = #{subjectTypeId} and a.difficulty = #{difficulty}
  </select>

  <select id="queryByRandom" resultMap="BaseResultMap" >
    select a.* from t_subject a where a.category_id = #{categoryId} and a.subject_type_id = #{subjectTypeId}
    and a.difficulty = #{difficulty} ORDER BY rand() limit #{num}
  </select>

  <select id="getExamSubject" resultMap="BaseResultMap">
    select * from t_subject where t_subject.org_id = #{orgId} and t_subject.subject_type_id = #{subjectTypeId}
  </select>

  <select id="getSubjectById" resultMap="BaseResultMap">
    select * from t_subject where t_subject.id = #{id}
  </select>

  <select id="queryCategoryById" resultType="java.lang.String">
    select distinct b.name from t_subject a,t_category b where a.category_id = b.id and a.id in
      <foreach collection="subjectIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
      </foreach>
  </select>

  <select id="getSubjects" resultMap="BaseResultMap">
    select * from t_subject order by updated_time desc
  </select>
<update id="updateSubject" parameterType="com.boss.xtrain.basedata.pojo.entity.Subject">
        update t_subject
        <set>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="imageUrl != null" >
                image_url = #{imageUrl},
            </if>
            <if test="remark != null" >
                remark = #{remark},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="organizationId != null" >
                org_id = #{organizationId},
            </if>
            <if test="createdBy != null" >
                created_by = #{createdBy},
            </if>
            <if test="createdTime != null" >
                created_time = #{createdTime},
            </if>
            <if test="updatedBy != null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null" >
                updated_time = #{updatedTime},
            </if>
            <if test="version != null" >
                version = #{version},
            </if>
            <if test="difficulty != null" >
               field1 = #{difficulty},
            </if>
            <if test="companyId != null" >
                company_id = #{companyId},
            </if>
            <if test="categoryId != null" >
                t_c_id = #{categoryId},
            </if>
            <if test="subjectTypeId != null" >
                t_s_id = #{subjectTypeId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>